@tailwind base;
@tailwind components;
@tailwind utilities;

.d{
  flex-direction:row;
  gap: 50px;
  display:flex;
  
}
.fl{
 
  display:flex;
  flex-flow: row-reverse;
  flex-wrap: nowrap;

}

@media screen and (max-width:450px){
  .d{
    display:flex;
    flex-direction: column;
    gap: -100px;
  }
  .fl{
    display: flex;
    flex-direction: column;
  }
}
.dis{
  display:contents;
  flex: content;
  flex-wrap: nowrap;
  
  row-gap: 2px;
  flex:1px;
}