@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.d{
  flex-direction:row;
  gap: 50px;
  display:flex;
  
}
.fl{
 
  display:flex;
  flex-flow: row-reverse;
  flex-wrap: nowrap;

}

@media screen and (max-width:450px){
  .d{
    display:flex;
    flex-direction: column;
    gap: -100px;
  }
  .fl{
    display: flex;
    flex-direction: column;
  }
}